body{
   background-color: rgb(248, 215, 215);
   margin:0;
   padding:0px;
   border: 0px; 
   font-family: sans-serif;
   background-size: 100% 100%;
   background-position:center;
   height: 100px;
}
#head{
    margin: 10px;
    border: 0;
    padding: 0;
    background-position: center;
    flex-direction: row;
}
.Title h1{
text-transform: uppercase;
margin-bottom: 0px;
font-size: 40px;
}
.Title h2
{
  text-shadow: 6px;
  font-size: 15px;
  margin: auto;

}
.band{
    width: 100%;
    height: 30px;
    margin: 20px;
   
}
#band{
    width: 100%;
    height: 30px;
    margin: 0;
    background-image:linear-gradient(to bottom right, rgb(250, 241, 249),rgb(221, 40, 40));
}

.item-button{
    text-transform: uppercase ;
    text-align: center;
    width: 10px;
    height: 5px;
    margin: 10px;
    padding: 10px; 
    font-size: 8px;
    background-position:center;
    font-size: 15px; 
    color: black;
    align-items: center; 
   
}

.item-button:hover{
color: aqua;

}

.text{

    text-shadow: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#section{
width: 60%;
float: left;
margin: auto;

}

#aside{
     width: 40%;
     float: left;
   
} 
.img{
    margin: 40px;
    width: 50%;
    height: 30%; 
    background-position: center;
    flex-direction: row;
}
.Imgs{
    width: 20%;
    float: left;
    
}
.img img{
    flex-direction:row;
    max-width: 100%;
}
.Img img{
    margin: 20px;
    width: 60%;
    height: 20%; 
    box-align: center;
  
}
.inf img{
    margin: 20px;
    width: 80%;
    height: 20%; 
}
ul{
    margin: 10px;
    text-size-adjust: 30px;
    text-transform: lowercase;
}