body{
    background-color:rgb(247, 205, 205)
}
h1{
    background-image:repeating-linear-gradient() ;
   text-shadow: 0.2em 0.2em 0.3em #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(30, 10, 131);
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(51, 179, 225);
    text-shadow: -1px 0 black, 0 1px black;
}
h4{
    color: rgb(190, 202, 202);
    text-shadow: -1px -1px white, 1px 1px #333;
}

p{
    color:rgb(30, 207, 33)
} 

#ph{
    color:rebeccapurple
}

.class{
font-family:Arial, Helvetica, sans-serif
    
}
.class{
    flex-direction:column ;
    align-items: center;
}

